@model Intranet.Models.Blog.BlogInsertModel

@section CSS
    {
    <style>
        .tox {
            width: 100%;
            height: 600px !important;
        }
    </style>
}

    <form method="post" onsubmit="processEditor()" enctype="multipart/form-data">
        <div class="flex flex-col gap-4 items-center justify-start w-full">
            <div class="w-full flex gap-2 items-center">
                <p class="font-semibold uppercase">Tytuł:</p>
                <input type="text" value="@Model.Name" name="name" class="px-4 py-2 border w-full rounded-md" />
                <span asp-validation-for="Name" class="text-red-500 -mt-3"></span>
            </div>
            <div class="w-full flex gap-2 items-center">
                <p class="font-semibold uppercase">Opis:</p>
                <input type="text" value="@Model.Description" name="Description" class="px-4 py-2 border w-full rounded-md" />
                <span asp-validation-for="Description" class="text-red-500 -mt-3"></span>

            </div>


            <div class="w-full flex gap-2 items-center">
                <p class="font-semibold uppercase w-32">Okładka:</p>
                <input asp-for="Thumbnail" type="file" class="px-4 py-2 border w-full rounded-md" accept="image/x-png,image/gif,image/jpeg">
            </div>
            <span asp-validation-for="Thumbnail" class="text-red-500 -mt-3"></span>

            <textarea id="editor" name="HTML">@Model.HTML</textarea>
            <span asp-validation-for="HTML" class="text-red-500 -mt-3"></span>


            <div class="flex gap-8">
                <input type="submit" value="Dodaj" class="py-2 px-4 border-2 border-green-600 hover:bg-green-600 hover:text-white uppercase font-semibold" />
                <a asp-action="Index">
                    <input type="button" class="py-2 px-4 border-2 border-red-500 hover:bg-red-500 hover:text-white uppercase font-semibold" value="Anuluj" />
                </a>
            </div>
        </div>
    </form>

    @section Scripts
    {
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#editor',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
                'alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        });

    </script>
}