@section CSS{
}
    <div class="flex justify-end w-full " style="min-height:100vh; overflow-y: scroll; ">

        <div class="bg-neutral-100 w-fit py-12 h-full hidden" id="OpinionsContainer" style="min-height:100vh;">
            <button style="float:left" class="ml-4 -mt-8 text-2xl" onclick="ToggleOpinions()">
                X
            </button>
            <h1 class="font-bold blockquote text-center text-2xl text-amber-600">Opinie użytkowników</h1>
            <hr style="width: 400px" class="mx-8" />
            <div id="opinionsList">
            </div>
        </div>

    </div>


